<div class="app-container">
    <h1>Categories</h1>
    <ul class="categories">
        <li *ngFor="let category of categories">
            <button (click)="selectCategory(category)">
                {{ category.name }}
            </button>
        </li>
    </ul>

    <div *ngIf="selectedCategory">
        <h2>{{ selectedCategory.name }} Products</h2>
        <app-product-list
            [products]="selectedCategory.products"
            (remove)="removeProduct($event)"
        ></app-product-list>
    </div>
</div>
