<div class="products-container">
  <div *ngFor="let product of products" class="product-card">
    <div class="product-image">
      <img [src]="product.image" [alt]="product.name" />
    </div>
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Rating: {{ product.rating }}</p>
      <a [href]="product.link" target="_blank">View on Kaspi.kz</a>
    </div>
    <div class="share-buttons">
      <a
        [href]="
          'https://api.whatsapp.com/send?text=Check out this product: ' +
          product.link
        "
        target="_blank"
      >
        Share on WhatsApp
      </a>
      <a
        [href]="
          'https://t.me/share/url?url=' +
          product.link +
          '&text=Check out this product!'
        "
        target="_blank"
      >
        Share on Telegram
      </a>
    </div>
  </div>
</div>
